name: "Test"

on:
  workflow_dispatch:
  schedule:
    - cron: "18 18 * * 1,3,5"
  push:
    branches: ["master"]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    #if: ${{ !contains(github.event.head_commit.message, '#notest') }}

    permissions:
      pull-requests: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Test Local Action"
        id: test
        uses: ./
        with:
          fail: false
          #exclude: "@eslint/js"

      - name: "Verify Outputs"
        if: ${{ !github.event.act }}
        env:
          OUTDATED: ${{ steps.test.outputs.outdated }}
          NCU: ${{ steps.test.outputs.ncu }}
          UPDATE: ${{ steps.test.outputs.update }}
          MARKDOWN: ${{ steps.test.outputs.markdown }}
        run: |
          echo "outdated: '${{ env.OUTDATED }}'"
          if [ -z '${{ env.OUTDATED }}' ];then
            echo "No Output: outdated"
            exit 1
          fi
          echo "ncu: '${{ env.NCU }}'"
          echo "update: '${{ env.UPDATE }}'"
          echo "markdown: '${{ env.MARKDOWN }}'"
          if [ -z '${{ env.MARKDOWN }}' ];then
            echo "No Output: markdown"
            exit 1
          fi

      - name: "Schedule Failure Notification"
        if: ${{ failure() && github.event_name == 'schedule' }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
